.navbarContainer {
  background-color: #271e52;
  text-align: center;
  color: aliceblue;
  height: 10vh;
  /* position: fixed; */
  z-index: 2;
  width: 100%;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.linksContainer {
  margin-right: 3%;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: inherit;
}

.links:hover {
  text-decoration: none;
  color: #b6b6b6;
}

.logoContainer {
  float: left;
  margin-left: 3%;
  cursor: pointer;
}
