.navbarContainer {
  background-color: #271e52;
  text-align: center;
  color: aliceblue;
  height: 10vh;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.links {
  margin-right: 3%;
  cursor: pointer;
  font-size: 18px;
}

.links:hover {
  color: #b6b6b6;
}

.logoContainer {
  float: left;
  margin-left: 3%;
  cursor: pointer;
}
