.teamTitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  color: #3f4451;
  text-align: center;
}

.teamFlexContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.teamImages {
  /* height: 500px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  height: 35rem;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("https://sscrypts.com/3.jpg");

  /* background-image: url("https://spyderscrypt.github.io/sscryptwebsite/3.jpg"); */
  background-size: 100%; /** moved this property down */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  will-change: background;
  transition: background-image 0.2s ease-in-out;
}

.teamImages:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  height: 35rem;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("https://sscrypts.com/4.jpg");

  /* background-image: url("https://spyderscrypt.github.io/sscryptwebsite/4.jpg"); */
  background-size: 100%; /** moved this property down */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.teamDescription {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  position: relative;
  align-self: flex-start;
  bottom: 40%;
  left: 5%;
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  .teamDescription {
    font-size: 1rem;
  }
}
